{% extends "layout.html" %}

{% block title %}
    Search page
{% endblock %}

{% block main %}
<!-- Hero unit -->
<div class="hero">
  <div class="hero__overlay hero__overlay--gradient"></div>
  <div class="hero__mask"></div>
  <div class="hero__inner">
    <div class="container">
      <div class="hero__content">
        <div class="hero__content__inner" id='navConverter'>
          <h1 class="hero__title">Welcome to Benjie's books.</h1>
          <p class="hero__text">Benjie's books is your one stop book search and review shop.</p>
          <p class="hero__text">Read reviews by others or leave a review yourself.</p>
            <!-- Search bar -->
            <form action="/search" method="post" id="searching">
                <label>Enter a title, author or ISBN to search for a book</label>
                <div class="form-group">
                    <input class="form-control" name="title" id="title" placeholder="Title">
                    <input class="form-control" name="author" id="author" placeholder="Author">
                    <input class="form-control" name="isbn" id="isbn" placeholder="ISBN">
                </div>
                <div class="form-group">
                    <button class="btn btn-secondary">Search for book</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% if books %}
<div class="container">
<div class="results">
  <table class="table table-sm">
      <thead>
          <tr class="row">
              <th class="col hidecol">ISBN</th>
              <th class="col">Title</th>
              <th class="col">Author</th>
              <th class="col hidecol">Year</th>
              <th class="col">More information</th>
          </tr>
      </thead>
      <tbody>
          {% for book in books %}
          <form action="/bookinfo" method="post" id="bookinfopage">
          <tr class="row">
              <td class="col hidecol">{{ book.isbn }}</td>
              <td class="col">{{ book.title }}</td>
              <td class="col">{{ book.author }}</td>
              <td class="col hidecol">{{ book.year }}</td>
              <td class="col"><button class="btn btn-secondary" id="submit" name="submit" value="{{ book.isbn }}" type="submit">Select</button></td>
          </tr>
          </form>
          {% endfor %}
      </tbody>
    </table>
</div>
</div>
{% endif %}
{% endblock %}
